go 1.27.0

use (
	./cli
	./core
	./framework
	./plugins/compat
	./plugins/governance
	./plugins/jsonparser
	./plugins/logging
	./plugins/maxim
	./plugins/mocker
	./plugins/modelcatalogresolver
	./plugins/otel
	./plugins/prompts
	./plugins/routing
	./plugins/semanticcache
	./plugins/telemetry
	./transports
)

replace (
	github.com/capsohq/bifrost/core v1.5.12 => ./core
	github.com/capsohq/bifrost/core v1.5.13 => ./core
	github.com/capsohq/bifrost/core v1.6.2 => ./core
	github.com/capsohq/bifrost/core v1.6.3 => ./core
	github.com/capsohq/bifrost/core v1.7.1 => ./core
	github.com/capsohq/bifrost/core v1.7.11 => ./core
	github.com/capsohq/bifrost/core v1.7.3 => ./core
	github.com/capsohq/bifrost/core v1.7.4 => ./core
	github.com/capsohq/bifrost/core v1.7.5 => ./core
	github.com/capsohq/bifrost/core v1.7.7 => ./core
	github.com/capsohq/bifrost/core v1.8.6 => ./core
)

replace (
	github.com/capsohq/bifrost/framework v1.3.16 => ./framework
	github.com/capsohq/bifrost/framework v1.4.3 => ./framework
	github.com/capsohq/bifrost/framework v1.5.3 => ./framework
	github.com/capsohq/bifrost/framework v1.5.5 => ./framework
	github.com/capsohq/bifrost/framework v1.5.7 => ./framework
	github.com/capsohq/bifrost/framework v1.5.9 => ./framework
	github.com/capsohq/bifrost/framework v1.6.2 => ./framework
)

replace (
	github.com/capsohq/bifrost/plugins/compat v0.1.25 => ./plugins/compat
	github.com/capsohq/bifrost/plugins/compat v0.1.29 => ./plugins/compat
	github.com/capsohq/bifrost/plugins/compat v0.1.31 => ./plugins/compat
	github.com/capsohq/bifrost/plugins/compat v0.1.33 => ./plugins/compat
	github.com/capsohq/bifrost/plugins/compat v0.1.35 => ./plugins/compat
	github.com/capsohq/bifrost/plugins/compat v0.2.2 => ./plugins/compat
)

replace (
	github.com/capsohq/bifrost/plugins/governance v1.6.11 => ./plugins/governance
	github.com/capsohq/bifrost/plugins/governance v1.6.13 => ./plugins/governance
	github.com/capsohq/bifrost/plugins/governance v1.6.3 => ./plugins/governance
	github.com/capsohq/bifrost/plugins/governance v1.6.7 => ./plugins/governance
	github.com/capsohq/bifrost/plugins/governance v1.6.9 => ./plugins/governance
	github.com/capsohq/bifrost/plugins/governance v1.7.2 => ./plugins/governance
)

replace (
	github.com/capsohq/bifrost/plugins/logging v1.5.26 => ./plugins/logging
	github.com/capsohq/bifrost/plugins/logging v1.6.3 => ./plugins/logging
	github.com/capsohq/bifrost/plugins/logging v1.6.5 => ./plugins/logging
	github.com/capsohq/bifrost/plugins/logging v1.6.7 => ./plugins/logging
	github.com/capsohq/bifrost/plugins/logging v1.6.9 => ./plugins/logging
	github.com/capsohq/bifrost/plugins/logging v1.7.2 => ./plugins/logging
)

replace (
	github.com/capsohq/bifrost/plugins/maxim v1.6.26 => ./plugins/maxim
	github.com/capsohq/bifrost/plugins/maxim v1.6.30 => ./plugins/maxim
	github.com/capsohq/bifrost/plugins/maxim v1.6.32 => ./plugins/maxim
	github.com/capsohq/bifrost/plugins/maxim v1.6.34 => ./plugins/maxim
	github.com/capsohq/bifrost/plugins/maxim v1.6.36 => ./plugins/maxim
	github.com/capsohq/bifrost/plugins/maxim v1.7.2 => ./plugins/maxim
)

replace (
	github.com/capsohq/bifrost/plugins/mocker v1.5.19 => ./plugins/mocker
	github.com/capsohq/bifrost/plugins/mocker v1.5.26 => ./plugins/mocker
	github.com/capsohq/bifrost/plugins/mocker v1.5.30 => ./plugins/mocker
	github.com/capsohq/bifrost/plugins/mocker v1.5.32 => ./plugins/mocker
	github.com/capsohq/bifrost/plugins/mocker v1.5.34 => ./plugins/mocker
	github.com/capsohq/bifrost/plugins/mocker v1.5.37 => ./plugins/mocker
	github.com/capsohq/bifrost/plugins/mocker v1.6.2 => ./plugins/mocker
)

replace (
	github.com/capsohq/bifrost/plugins/modelcatalogresolver v1.0.11 => ./plugins/modelcatalogresolver
	github.com/capsohq/bifrost/plugins/modelcatalogresolver v1.0.13 => ./plugins/modelcatalogresolver
	github.com/capsohq/bifrost/plugins/modelcatalogresolver v1.0.15 => ./plugins/modelcatalogresolver
	github.com/capsohq/bifrost/plugins/modelcatalogresolver v1.0.17 => ./plugins/modelcatalogresolver
	github.com/capsohq/bifrost/plugins/modelcatalogresolver v1.0.7 => ./plugins/modelcatalogresolver
	github.com/capsohq/bifrost/plugins/modelcatalogresolver v1.1.2 => ./plugins/modelcatalogresolver
)

replace (
	github.com/capsohq/bifrost/plugins/otel v1.3.3 => ./plugins/otel
	github.com/capsohq/bifrost/plugins/otel v1.4.2 => ./plugins/otel
	github.com/capsohq/bifrost/plugins/otel v1.4.4 => ./plugins/otel
	github.com/capsohq/bifrost/plugins/otel v1.4.6 => ./plugins/otel
	github.com/capsohq/bifrost/plugins/otel v1.4.8 => ./plugins/otel
	github.com/capsohq/bifrost/plugins/otel v1.5.2 => ./plugins/otel
)

replace (
	github.com/capsohq/bifrost/plugins/prompts v1.0.26 => ./plugins/prompts
	github.com/capsohq/bifrost/plugins/prompts v1.0.30 => ./plugins/prompts
	github.com/capsohq/bifrost/plugins/prompts v1.0.32 => ./plugins/prompts
	github.com/capsohq/bifrost/plugins/prompts v1.0.34 => ./plugins/prompts
	github.com/capsohq/bifrost/plugins/prompts v1.0.36 => ./plugins/prompts
	github.com/capsohq/bifrost/plugins/prompts v1.1.2 => ./plugins/prompts
)

replace (
	github.com/capsohq/bifrost/plugins/semanticcache v1.5.26 => ./plugins/semanticcache
	github.com/capsohq/bifrost/plugins/semanticcache v1.5.30 => ./plugins/semanticcache
	github.com/capsohq/bifrost/plugins/semanticcache v1.5.32 => ./plugins/semanticcache
	github.com/capsohq/bifrost/plugins/semanticcache v1.5.34 => ./plugins/semanticcache
	github.com/capsohq/bifrost/plugins/semanticcache v1.5.36 => ./plugins/semanticcache
	github.com/capsohq/bifrost/plugins/semanticcache v1.6.2 => ./plugins/semanticcache
)

replace (
	github.com/capsohq/bifrost/plugins/telemetry v1.5.26 => ./plugins/telemetry
	github.com/capsohq/bifrost/plugins/telemetry v1.5.30 => ./plugins/telemetry
	github.com/capsohq/bifrost/plugins/telemetry v1.5.32 => ./plugins/telemetry
	github.com/capsohq/bifrost/plugins/telemetry v1.5.34 => ./plugins/telemetry
	github.com/capsohq/bifrost/plugins/telemetry v1.5.36 => ./plugins/telemetry
	github.com/capsohq/bifrost/plugins/telemetry v1.6.2 => ./plugins/telemetry
)

replace github.com/capsohq/bifrost/plugins/routing v1.0.2 => ./plugins/routing
